<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="WriteToMSMQ" value="NO"/>
    <add key="ExceptionLogQueue" value=".\private$\exceptionlogs"/>
  </appSettings>

  <connectionStrings>
    <add name="LogixLoggerDatabase" connectionString="Data Source=BEDDSQLSI01;Initial Catalog=LogixLogs;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="LogixWsHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="LogixBasicHttpBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="LogixServiceBehaviorConfiguration">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="LogixHealth.EnterpriseLogger.Services.LogixLoggerService" behaviorConfiguration="LogixServiceBehaviorConfiguration">
        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="LogixBasicHttpBinding"
                  contract="LogixHealth.EnterpriseLogger.Services.ServiceContracts.ILogixLoggerService"
                  name="LogixBasicHttpBindingEndpointConfiguration" />

        <endpoint address=""
                  binding="wsHttpBinding" bindingConfiguration="LogixWsHttpBinding"
                  contract="LogixHealth.EnterpriseLogger.Services.ServiceContracts.ILogixLoggerService"
                  name="LogixWsHttpBindingEndpointConfiguration" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
